html{
    background-color: black;
}
body{
    margin: 0;
}
#stage1{
    display: none;
}
#stage2{
    display: none;
}
#stage3{
    display: none;
}
#stage4{
    display: none;
}
#textbox1{
    position: relative;
    top: 0px;
    height: 50px;
    width: 500px;
    display: block;
    font-size: 40px;
}
#textbox2{
    position: relative;
    top: 0px;
    height: 50px;
    width: 500px;
    display: block;
    font-size: 40px;
}
#textbox3{
    position: relative;
    top: 0px;
    height: 50px;
    width: 500px;
    display: block;
    font-size: 40px;
}

.button{
    position: relative;
    top: -56px;
    left: 508px;
    height: 56px;
    width: 100px;
    display: block;
}

#open_final{
    margin: 0;
    color:white;
    font-size: 100px;
}
