html{
    background-color: #001300;
    color: white;
}
body{
    margin: 0;
}
.question{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#stage1{
    display: inline;
}
#stage2{
    display: none;
}
#stage3{
    display: none;
}
#stage4{
    display: none;
}

.answer{
    width: 608px;
    margin-left: auto;
    margin-right: auto;
}
#textbox1{
    position: relative;
    top: 0px;
    height: 50px;
    width: 500px;
    display: block;
    font-size: 40px;
}
#textbox2{
    position: relative;
    top: 0px;
    height: 50px;
    width: 500px;
    display: block;
    font-size: 40px;
}
#textbox3{
    position: relative;
    top: 0px;
    height: 50px;
    width: 500px;
    display: block;
    font-size: 40px;
}
#textbox4{
    position: relative;
    top: 0px;
    height: 50px;
    width: 500px;
    display: block;
    font-size: 40px;
}

.button{
    position: relative;
    top: -56px;
    left: 508px;
    height: 56px;
    width: 100px;
    display: block;
}

.hint{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 50px;
}
.hint input{
    display: none;
}
.hint label{
    display: block;
    font-size: 30px;
    width: 100%;
    height: 100%;
    text-align: center;
    border: solid 1px white;
    transition: .3s;
}
#hint1_main{
    position: relative;
    top: 0;
    width: 95%;
    height: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    transition: .3s;
}
#hint1:checked ~ #hint1_main{
    top: -150px;
    height: 200px;
}
#hint1:checked ~ #hint1_frame{
    height: 200px;
}

#hint2_main{
    position: relative;
    top: 0;
    width: 95%;
    height: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    transition: .3s;
}
#hint2:checked ~ #hint2_main{
    top: -150px;
    height: 200px;
}
#hint2:checked ~ #hint2_frame{
    height: 200px;
}

#hint3_main{
    position: relative;
    top: 0;
    width: 95%;
    height: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    transition: .3s;
}
#hint3:checked ~ #hint3_main{
    top: -150px;
    height: 200px;
}
#hint3:checked ~ #hint3_frame{
    height: 200px;
}

#hint4_main{
    position: relative;
    top: 0;
    width: 95%;
    height: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    transition: .3s;
}
#hint4:checked ~ #hint4_main{
    top: -150px;
    height: 200px;
}
#hint4:checked ~ #hint4_frame{
    height: 200px;
}

#open_final{
    display: none;
}
